
body{
    margin: 0;
    padding: 0;
    border: 0;
}


.top{
    background-color: #242F40;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 22px;

}

.add{
    height: 90px;
    width: 120px;
    border-radius: 23%;
    background-color: #CCA43B;
    color: #FFFFFF;
    outline:none;
    font-family:"Arial Narrow",sans-serif;
    font-weight: bolder;
    font-size: 25px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}
.add:hover{
    background-color: #061521;
    cursor: pointer;
}

.add:active{
    background-color: #0c2a43;
    height: 120px;
    width: 140px;

}

#bottom{
    background-color: #363636;
    height: 500px;
    margin: 0;
    padding: 0;
    border-top: 12px solid #144268;
    display: flex;
    justify-content: center;
}


.label_div{
    font-size: large;
    margin-top: 12px;
    margin-left: 12px;
    color: rgb(241, 245, 245);

}
.books_table{
    margin-top: 50px;
    width: 100%;

    
}


 
